<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST API - MVC</title>
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    <div id="app" class="container is-max-desktop mt-5">
        <h1 class="title">Supplier List</h1>
        <div>
            <a href="/create" class="button is-success">Add New</a>
            <table class="table is-striped is-bordered mt-e is-fullwidth" style="margin: 10px auto;">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Contact Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th class="has-text-centered">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% suppliers.forEach(el=> { %>
                    <tr>
                        <td><%= el.company_name %></td>
                        <td><%= el.contact_name %></td>
                        <td><%= el.email %> </td>
                        <td><%= el.phone %> </td>
                        <td class="has-text-centered">
                            <a href="/edit/<%= el.id %>" class="button is-warning is-small">Edit</a>
                            <a onclick=<%='del('+el.id+')'%> class="button is-danger is-small" style="margin-left: 5px">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let del = (id) => {
            axios.delete('/api/suppliers/' + id).then((result) => {
                Swal.fire({
                    title: 'Info Status: ' + result.status,
                    icon: 'success',
                    text: 'Supplier Pendaftaran Telah Di hapus',
                    showConfirmButton: false,
                    timer: 1300
                })
                // alert('Info Status: ' + result.status)
                setTimeout(() => {
                    location.reload();
                }, 1600);
                
            }).catch((err) => {
                alert('error ' + err)
            });
        }
    </script>
</body>
</html>